body {
  background-color: #E74C3C;
}

.navbar-header {
  visibility: hidden;
}

.container {
  // background-color: #2C3D51;
  h1 {
    font-family: "Museo Sans","Lucida Grande", Arial, sans-serif;
    letter-spacing: -0.04em;
    text-align: center;
    color: #2C3D51;
  }
}

.main-header {
  width: 40%;
  margin-top: 40px;
  margin: 0 auto;
}

