$dark-blue: #2C3D51;
$deep-red: #E74C3C;

body {
  font-family: "Museo Sans","Lucida Grande", Arial, sans-serif;
  letter-spacing: -0.04em;
  text-align: center;
  // background-color: #2C3D51 !important;
  background-color: black !important;
}

label, input {
  display: block;
}

.navbar-header {
  visibility: hidden;
}

.main-header .btn-warning {
  font-family: "Museo Sans","Lucida Grande", Arial, sans-serif;
  padding: 10px;
  border-width: 2px;
  background-color: #E74C3C !important;
  border-color: #E74C3C !important;
  font-size: 1.5em;
  color: $dark-blue;
  margin-top: 25px;
}

.container {
  // background-color: #E74C3C !important;
  // height: 400px;
  padding: 20px;
  width: 60%;

  h1 {
    font-family: "Museo Sans","Lucida Grande", Arial, sans-serif;
    letter-spacing: -0.04em;
    text-align: center;
    // color: #2C3D51;
    color: $deep-red;
    font-size: 34px;
    line-height: 48px;
    text-rendering: optimizelegibility;
  }
  h2 {
    font-family: "Museo Sans","Lucida Grande", Arial, sans-serif;
    letter-spacing: -0.04em;
    text-align: center;
    color: $dark-blue;
  }
}

.modal {
  margin-top: 10%;
}

.modal-content {
  background-color: $dark-blue;
}

.main-header {
  width: 50%;
  margin-top: 40px;
  // height: 300px;
  margin: 0 auto;
}

